/* About styles */
main section.about-container
{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 100px;
}
main section.about-container div.column
{
    flex-basis: 40%; /* add padding between left and right flex descendants */
}
main section.about-container div.column img
{
    width: 50vw;
    height: auto;
}
main section.about-container div.column div.about
{
    background-color: rgba(211, 211, 211, 0.329);
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.767);
}
main section.about-container div.column div.about h2
{
    border-bottom: 2px solid rgb(8, 0, 116);
    margin-bottom: 20px;
    padding-bottom: 5px;
    display: inline-block; /* make border (underline) auto resize based on h2 length*/
    font-family: "Cabin Sketch", sans-serif; font-weight: 400; font-style: normal;
    font-size: 40px;
    font-weight: 1000;
}
main section.about-container div.column div.about p
{
    font-family: "Cabin Sketch", sans-serif; font-weight: 400; font-style: normal;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 1000;
    margin: 0;
    margin-bottom: 30px;
}

/* Call to action */
main section.cta-container
{
    background-color: rgba(100, 113, 156, 0.644);
    text-align: center;
    padding: 50px 20px;
}
main section.cta-container button
{
    margin: 2rem;
    padding: 20px 80px;
    background-color: transparent;
    border: 2px solid rgb(73, 73, 73);
    cursor: pointer;
    font-size: 20px;
}
main section.cta-container button:hover,
main section.cta-container button:focus
{
    background-color: rgb(116, 119, 131);
    border: 2px solid rgb(73, 73, 73);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}